picture img[data-src]{
    filter: blur(0.2em);
    
}

picture img{
    filter: blur(0em);
    transition: filter 0.5s;
    display: block;
}
main {
    align-items: center;
    margin-left: 30%;
}
h1{
    text-align: center;
}