@media (min-width: 1100px) {
    body{
    }
    main div{
        float: left;
        width: 30.80%;
    }
    .sec{
        width: 30.80%;
    }
    .main:after {
        content:"";
        display: table;
        clear: both;
        align-items: center;
     }
    h3 {
        font-size: 30px;
        color:#0b1a31;
    }
    h4 {
        font-size: 25px;
    }

}