@media (min-width:32.6em) {
    body{
        align-items: flex-end;
    }
    div{
        float: left;
        width: 47%;
    }
    .main:after {
        content:"";
        display: table;
        clear: both;
     }
     .sec{
        float: left;
        width:auto;
     }
    
    h3 {
        font-size: 25px;
        color:#0b1a31;
    }
    h4 {
        font-size: 20px;
    }

}