.main {
    text-align: center;
    margin: 0 auto;
    padding-left: auto;
    padding-right: auto;
    background: whitesmoke;
    display: block;
    float: left;
    padding: 14px 16px;;
}

a {
    text-align: center;
    color:blue;
    font-size: small;
    border-radius: 0.5em;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    display: block;
    padding-bottom: 5px;
}
a:hover {
    background-color: white;
    color: #0b1a31;
}
#screen {
    width: 70%;
    height: auto;
    align-items: center;
    padding-bottom: 25px;
    max-width: 100%;
    display: inline-block;
}
.head{
    text-align: center;
    font-family: 'Arvo', serif;
    background-color: #0b1a31;
    margin: auto;
    padding-left: auto;
    padding-right: auto;
    color: aliceblue;
    padding:1px;
}

h3 {
    font-size: 30px;
    text-decoration: none;
    font-family: 'Arvo', serif;
    text-align: center;
    background-color: #0a394e;
    color: aliceblue;
}
h4 {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Arvo', serif;
    text-align: center;
    text-overflow: clip;
    padding: 1%;
}
p {
    font-size: 13px;
    text-decoration: none;
    font-family: 'Roboto', serif;
    text-align: center;
    display: grid;
    grid-template-rows: auto;

}

footer {
    background-color: #0b1a31;
    color: whitesmoke;
    padding: 5%;
    font-weight: lighter;
    border: 2px solid #b2bec3;
    border-radius: 10px;
    padding: 1%;
    font-family: 'Arvo', serif;
    text-align: center;
}
#modify {
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}
div {
    background-color: beige;
    padding: auto;
    padding-left: auto;
    padding-right: auto;
    margin:5px;
}
