.main {
    text-align: center;
    margin: 0 auto;
    padding-left: auto;
    padding-right: auto;
    background: white;
}

a {
    text-align: left;
    color:blue;
    font-size: small;
    border-radius: 0.5em;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    display: block;
    padding-bottom: 5px;
    padding-left: 5px;
}
a:hover {
    color: #0b1a31;
}
img {
    width: 50%;
    height: auto;
    align-items: center;
    padding-bottom: 10px;
    max-width: 100%;
    display: inline-block;
}
.head{
    text-align: center;
    font-family: 'Arvo', serif;
    background-color: #0b1a31;
    padding-left: auto;
    padding-right: auto;
    color: aliceblue;
    padding-bottom:5px;
    padding-top: 3px;
    margin-top: 1%;
    border: 2px solid #b2bec3;
    border-radius: 20px;
    text-shadow: 1px 1px bisque;
}

h3 {
    text-decoration: none;
    font-family: 'Arvo', serif;
    text-align: center;
    color:#0b1a31;
    margin-top: 5px;
    padding-top: 5%;
    text-shadow: 1px 1px 1px black;
}
h4 {
    text-decoration: none;
    font-family: 'Arvo', serif;
    text-align: left;
    text-overflow: clip;
    padding: 1%;
    padding-left: 5px;
}
p {
    font-size: 13px;
    text-decoration: wavy;
    font-family: 'Roboto', serif;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

footer {
    background-color: #0b1a31;
    color: whitesmoke;
    padding: 5%;
    font-weight: lighter;
    border: 2px solid #b2bec3;
    border-radius: 20px;
    font-family: 'Arvo', serif;
    text-align: center;
    margin-top: 5%;
}
#modify {
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    margin-top: 10px;
    
}
main div {
    background-color: bisque;
    padding-top: auto;
    padding-left: auto;
    padding-right: auto;
    margin:1%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
    border: 2px solid #b2bec3;
}
