main {
    text-align: center;
    margin: 0 auto;
    padding-left: auto;
    padding-right: auto;
    background: whitesmoke;
}

a {
    text-align: center;
    color:blue;
    font-size: small;
    border-radius: 0.5em;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
}
a:hover {
    background-color: white;
    color: #0b1a31;
}
#screen {
    width: 25%;
    height: 80%;
    align-items: center;
    padding-bottom: 25px;
    max-width: 100%;
    display: inline-block;
}

h2 {
    font-size: 25px;
    text-decoration: none;
    font-family: 'Arvo', serif;
    text-align: center;
    text-overflow: clip;
}
h3 {
    font-size: 15px;
    text-decoration: none;
    font-family: 'Arvo', serif;
    text-align: center;
    text-overflow: clip;
    padding: 1%;
}
p {
    font-size: 10px;
    text-decoration: none;
    font-family: 'Roboto', serif;
    text-align: center;
    display: grid;
    grid-template-rows: auto;

}

footer {
    background-color: #0b1a31;
    color: whitesmoke;
    padding: 5%;
    font-weight: lighter;
    border: 2px solid #b2bec3;
    border-radius: 10px;
    padding: 1%;
    font-family: 'Arvo', serif;
    text-align: center;
}
#modify {
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}
@media (max-width: 600px) {

}

@media (min-width: 601px) {

}