@media only screen and (min-width: 64em) {
  /*header*/
  header {
    grid-template-columns: 3fr 4fr 1fr;
  }

  #hamburgerBtn {
    display: none;
  }

  #primaryNav {
    display: flex;
    padding: 0;
    margin: 6%;
    border: 0;
  }

  #primaryNav li {
    border: none;
  }

  .nav {
    grid-column: 3/4;
  }
  nav{
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  /*main*/
  main.large-grid{
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
  }

  main section,
  main div {
    width: 100%;
    height: 95%;
  }
  main.large-grid section {
    margin: 0;
    padding: 0;
  }

  .hero {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  #hero picture img {
    height: 100%;
    width: 100%;
}

  picture img.hero-image{
    height: 100%;
  }
  section.hero picture{
    background-color: transparent;
  }
  
  .event {
    grid-row: 1/2;
  }
  
  .weather {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 2px;
    height: 100%;
  }

  #join {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .news {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .spotlight {
    display: flex;
    flex-direction: column;
    grid-column: 3/4;
    grid-row: 1/4;
    box-sizing: border-box;
    margin-top: 4%;
  }

  .spotlight section {
    margin: 0;
  }

  .large-only {
    display: block;
  }

  /*footer*/
  footer {
    font-size: 100%;
  }

  .section2 {
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  /**Discover styling**/

  main.Discover-holder{
    max-width: 90%;
    margin-left: 5%;
    margin-bottom: 10px; 
    align-items: center; 
  }
  main.Discover-holder section{
    display: flex;
    flex-direction: row;
  }
  .description{
    display: block;
    align-items: center;
  }
  .talk{
    display: block;
    align-items: center;
  }
  main section h2{
    text-align: center;
  }
  main section picture.myphoto{
    width: 100%;
    justify-content: center;
    margin: 10px;
  }
  main section picture.myphoto img{
    width: 100%;
  }
  main section.Accra div,.cocoa div,.food div,.demo div{
    padding: 3px;
    margin: -5px;
  }
  
  main section.Ghana div,.tourism div,.business div,
  .sea div,.growth div{
    padding: 3px;
    margin: -5px;
  }
  main section.Ghana h2{
    text-align: center;
  }
  main section.Accra h2{
    text-align: center;
  }
  

  /**Join Styling**/
  .join{
    display: flex;
    flex-direction: row;
  }
  main.join-container section.benefits h2{
    text-align:center;
    margin: 10px;
    padding: 10px;
    color: #FF7D00;
    font-size: 18px;
    font-family: 'Arvo', serif;
  }
  main.join-container section.benefits p{
    color: #FF7D00;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

  }

  
  main section.benefits{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    background-color:#001524;
    border-radius: 10px;
    font-family: 'Arvo', serif;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow:0 0 5px #FF7D00;
    
  }

  /** Directory styling**/
  main.directory-grid{
    max-width: 100%;
    margin-right: 5%;
    align-items: center;
    padding: 5px;
    margin-bottom: 5%;
  }
  .directory-grid .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 15px;
}
.directory-list .cards{
  display: flex;
  flex-direction: column;
}
/**ContactUs styles**/
main.contact-grid{
  max-width: 90%;
  margin-bottom: 10px;
  
}
section.inform {
  text-align: start;
  margin-top: auto;
  margin-bottom: 0;
  background-color: #001524;
  color: #FF7D00;
  padding: 5px;
  height:74%;
  width: 50%;
}

.contact form{
  padding: 3rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  height:75%;
  }

.button{
  background-color: #FF7D00;
  padding: 10px;
  margin: 5%;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px #010405;
  color:#001524;
  font-size: 13px;
  font-family: 'Arvo', serif;
}


}

  
