@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Roboto:wght@300&family=Sofia+Sans&display=swap");
h1,
h2,
h3,
h4 {
  font-family: 'Arvo', serif;
}

p,
a {
  font-family: 'Roboto', sans-serif;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

img {
  max-width: 100%;
  align-items: center;
  margin-top: 0;
}
img.icon{
  max-width: 30%;
}

header {
  background-color: #0b1a31;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 5%;
  padding: 0 2% 3% 2%;
  color: whitesmoke;
  border: 2px solid #b2bec3;
  border-radius: 10px;
}

.design {
  display: flex;
  align-items: center;
}

.logo-link {
  width: 100px;
}

header .company {
  text-align: left;
  font-size: 60%;
  padding: 5%;
}

header .company h1 {
  margin-bottom: -5px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social {
  display: flex;
}

.social a {
  margin-right: 10%;
  width: 40px;
}
.social:hover {
  opacity: 0.7;
}

#hamburgerBtn {
  text-align: end;
}

#hamburgerBtn {
  background-color: transparent;
  border: 1px solid #c0c0c0;
  font-size: 1.5em;
  margin-top: -2%;
  color: #c0c0c0;
  margin-left: 1%;
}

#primaryNav {
  list-style-type: none;
  margin: 0.2em 2vw;
  padding: 0;
  font-weight: 800;
}

#primaryNav li a.active {
  background-color: #c0c0c0;
  color: white;
  border: 2px solid #b2bec3;
  border-radius: 10px;
}

header ul {
  display: none;
}
header ul.open {
  display: block;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 2%;
}
nav{
  display: grid;
  grid-column: 1/4;
}

header ul li a {
  color: whitesmoke;
}

#primaryNav li {
  border-top: 1px solid #c0c0c0;
}

#primaryNav li a {
  display: block;
  padding: 0.8em 2vw;
  text-decoration: none;
  border: 2px solid #0b1a31;
}

#primaryNav li a:hover {
  background-color: #ffe5b4;
  color: #0b1a31;
  border: 2px solid #b2bec3;
  border-radius: 10px;
}
#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

.date {
  display: grid;
  grid-column: 1/4;
  background-color: #c0c0c0;
  color: #0b1a31;
  padding: 2% 0 2% 0;
  border: 2px solid #b2bec3;
  border-radius: 10px;
  margin-top: 10px;
}
hr {
  background-color: grey;
  width: 100%;
  height: 0.3vh;
  border: 0;
}
main {
  max-width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
}

main section,
main div {
  margin: 1.5em;
}
main h2{
  color: #FF7D00;
  text-shadow: 0 0 5px #FF7D00;
}
.event h3{
  color: #FF7D00;
  text-shadow: 0 0 3px #FF7D00;
}

main section {
  background-color: #001524;
  border-radius: 10px;
  color: whitesmoke;
}
section .weather {
  width: 10em;
}

main section.hero {
  background-color: transparent;
  position: relative;
  padding: 0;
  margin: 0;
}

.hero h2 {
  color: #0b1a31;
  text-shadow: 0 0 5px #FFECD1;
  position: absolute;
  left: 25%;
  right: 25%;
  width: 50%;
  z-index: 1;
  text-align: center;
}
.hero h3{
  position: absolute;
  left: 25%;
  right: 25%;
  width: 50%;
  top: 50%;
  background-color: #FF7D00;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px #010405;
  color: #0b1a31;
}
picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 0;
  align-items: center;
}
#join h2{
  background-color: #FF7D00;
  padding: 5px;
  margin: 5%;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px #010405;
  color:#0b1a31;
}

.spotlight {
  background-color: #c0c0c0;
  padding: 2%;
  border-radius: 10px;
}
.event, .weather,.news, .spotlight{
  padding: 1.5px;
}

.spotlight section {
  margin: 2px;
  border: 2px solid #003554;
  border-radius: 10px;
}
.banner {
  background: #001524;
  color:whitesmoke;
}

.banner-cont {
  padding: 15px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.banner-info {
  flex-grow: 1;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
}

.large-only,
.medium-display {
  display: none;
}
footer {
  background-color: #0b1a31;
  display: block;
  padding: 2% 2% 0 2%;
  align-items: center;
  font-size: 70%;
  color: whitesmoke;
  border: 2px solid #b2bec3;
  border-radius: 10px;
}

.section1 section h1,
.section2 h2 {
  font-size: 150%;
}

.section1 {
  max-width: 50%;
  margin-left: 25%;
}

.location {
  text-decoration: none;
  font-weight: 700;
}
.map {
  width: 10%;
}

.section2 {
  padding-bottom: 1%;
}

.section2 p {
  display: block;
}

hr {
  max-width: 80%;
}
