@media only screen and (min-width: 64em) {

  /** Header Styling**/
  header .company {
    text-align: center;
    font-size: 90%;
    padding: 0%;
  }

  header .company h1 {
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .logo {
    width: 150px;
  }

  /**Navigation Styling**/
  #hamburgerBtn {
    display: none;
  }

  #primaryNav {
    display: flex;
    padding: 0;
    margin: 5px;
    border: 0;
  }

  #primaryNav li {
    border: none;
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10%;
    padding: 3%;
  }
  .socials img {
    width: 80%;
  }


  .nav {
    grid-column: 3/4;
  }

  nav {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: flex-end;
    margin-top: 12%;
  }

  /**Main Styling**/
  .contact {
    padding: 20px;
    margin: 10px;
  }

  .contact a {
    background-color: #c0c0c0;
    color: #001524;
    text-decoration: none;
    box-shadow: 1px 1px 1px #12181d;
    padding: 15px;
    font-weight: bolder;
    font-family: "Arvo", serif;
  }

  .hero-image {
    height: 750px;
    width: 100%;
  }

  .home {
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 3%;
  }

  .home picture {
    height: 400px;
    width: 1500px;
    object-fit: cover;
    margin-left: 10px;
  }
  .home p{
    font-size: 20px;
  }
  .home h2{
    font-size: 30px;
  }
  .home1 p{
    font-size: 20px;
  }

  .call {
    margin: 5%;
    padding-top: 2%;
  }

  .home-sect {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .weather {
    width: 70%;
  }

  .fruits-gala h2 {
    display: block;
  }

  .juice-gala {
    margin: 10px;
    margin-bottom: 5%;
  }

  .galla {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
  }

  .galla picture {
    padding: 10px;
    margin: 0;
  }

  .area {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
  }

  .area picture {
    padding: 2%;
    margin-bottom: 10%;
  }

  .gallery {
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
  }

  .gallery picture {
    padding: 5px;
    margin: 5px;
  }
  .juice-gala h2{
    display: block;
  }


  /** Fresh Styling**/
  div.forms {
    display: flex;
    flex-direction: row;
    margin-left: 7%;
  }

  fieldset.set {
    margin: 5%;
    padding: 5%;
  }

  label {
    display: block;
    margin-bottom: 1rem;
    color: #c0c0c0;
    text-align: left;
    font-family: "Arvo", serif;
  }

  label.new {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    color: #c0c0c0;
    text-align: left;
    font-family: "Arvo", serif;
  }

  form label select {
    width: 100%;
  }

  form label textarea {
    width: 100%;
    margin-left: 5px;
  }

  form label input {
    width: 100%;
  }

  /** About Us Styling**/
  div.talk {
    text-align: left;
  }
  div.forms{
    margin-left: 15%;
  }

  label.info textarea {
    width: 90%;
    margin-left: 5%;
  }
  .area {
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
  }
  .area picture {
    padding: 0px;
    margin:5px;
    gap: 5px;
  }

  img.map {
    width: 5%;
    margin-left: 48%;
  }

  section.bount-info {
    display: block;
    margin: 0;
    padding: 0;
  }

  div.foot {
    display: flex;
    flex-direction: column;
  }

  .foot img.logo {
    position: none;
    left: 44%;
  }

  hr {
    width: 80%;
  }
}