@media only screen and (min-width: 35em) {
  header .company h1 {
    margin-bottom: 5px;
    font-size: 30px;
  }
  .logo {
    width: 130px;
    margin-top: 10px;
    padding: 0;
  }
  /**Main Styling**/
  .contact a {
    margin-right: 45%;
    margin-left: 45%;
  }
  picture {
    height: 300px;
    width: 1900px;
    object-fit: cover;
  }
  .home {
    display: flex;
    flex-direction: row;
    padding: 5%;
  }
  .home img {
    height: 100%;
    width: 200%;
    object-fit: cover;
  }

  .hero-image {
    height: 400px;
    width: 100%;
  }

  .gallery {
    display: none;
  }
  .fruits-gala h2 {
    display: none;
  }
  .galla {
    display: none;
  }
  /** About Us Styling**/
  .area {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
  }
  .area picture {
    padding: 10px;
    margin: 0;
  }
}
