@media (min-width: 32.5em) {
    #title_header {
        font-size: 50px;
    }
    #banner {
        font-size: 40px;
    }
    footer {
        border-radius: 10px;
    }
    #son {
        border-radius: 20px 20px 20px 20px;
        float:right;
     }
     
}