@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');
body {
    text-align: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    margin-top: 50px;

}
#header_box {
    background-color: #FF7D00;
    display: flex;
    justify-content: center; 
    align-items: center;
    box-shadow: 0 0 10px #010405;
    border-radius: 10px;
    padding: 1%;
}
#son {
    width: 150px;
    height: 100%;
    padding: 1%;
    padding-left: 5px;
    align-items: left;
}

#son:hover{
    transform: scale(1.1);
    transition: 1s;
}
#title_header {
    font-size: 30px;
    font-weight: normal;
    color: #001524;
    font-family: 'Arvo', serif;
}
.line {
    background-color: #001524;
    width: 80%;
    height: 0.4vh; 
    border: 0;
}
#banner {
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 30px;
    font-weight: bolder;
    color: #0b1a31;
    text-shadow: whitesmoke;
    font-family: 'Sofia Sans', sans-serif;
}

ul {
    justify-content: flex-start;
    align-items: left;
    text-align: left;
}
#list_link{
    background-color:#001524 ;
    padding: 5%;
    padding-left: 20%;
    border-radius: 10px;
    color: #FF7D00;
    margin: 5%;
    box-shadow: 0 0 10px #010405;    
}

li{
    display: flex;
    flex-direction: column;
}
a {
background-color: #FF7D00;
  padding: 2%;
  margin: 2%;
  width: 60%;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px #010405;
  color:#001524;
  text-decoration: none;
  font-weight: bolder;
}
a:hover {
    background-color: whitesmoke;
}
hr {
    background-color: #b2bec3;
    width: 70%;
    height: 0.1vh;
    border: 0;
}
#comment {
    background-color: #001524;
    font-style: italic;
    color: #FF7D00;
    padding: 5%;
    margin: 5%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px #010405;
    font-weight: bolder;
    font-family: 'Sofia Sans', sans-serif;
}
footer {
    background-color: #FF7D00;
    color: #001524;
    padding: 5%;
    font-weight: bolder;
    box-shadow: 0 0 10px #010405;
    padding: 1%;
    font-family: 'Arvo', serif;
}
#modify {
    font-style: italic;
    font-weight: bolder;
    margin-top: 10px;
}