@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');
body {
    text-align: center;
    margin: 0 auto;
}
#header_portal {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}
#son {
    border-radius: 50%;
    width: 4%;
    padding: 1%;
}
#title_header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5vw;
    font-weight: normal;
    color: #2d3436;
}
#line {
    background-color: #b2bec3;
    width: 100%;
    height: 0.1vh;
    border: 0;
}
#banner_section {
    padding-top: 1.5%;
}
main {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 5%;
}
section {
    list-style: none;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 2%;
}
.list {
    border: 1px solid #b2bec3;
    width: 60%;
    border-radius: 0.5em;
    padding: 1%;
    margin: 0.5%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    background-color: #1e90ff;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
    font-size: small;
    border-radius: 0.5em;
    text-decoration: none;
}
a:hover {
    background-color: #5e17eb;
}
hr {
    background-color: #b2bec3;
    width: 70%;
    height: 0.1vh;
    border: 0;
}
#comment {
    font-style: italic;
    color: #2d3436;
}
footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #5e17eb;
    color: white;
    padding: 5%;
    font-weight: lighter;
}
#modify {
    font-style: italic;
    font-weight: lighter;
}